body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
}

.container {
  width: 800px;
  height: 200px;
  background-color: bisque;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 100px;
}

.selected {
  transition: 0.5s;
  background-color: green;
}

img {
  width: 128px;
  height: 128px;
}

.symbol {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 1px solid black;
}

#opponentContainer {
  margin-top: 100px;
}

.hidden {
  transition: 1.5s;
  opacity: 0;
}

#center-text {
  width: 800px;
  margin: 0 auto;
  height: 50px;
}
